.box {
    border: 1px solid green;
    padding: 3rem 2rem;
    border-radius: 0.7rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.text {
    color: white;
    background-color: blue;
    font-family:fantasy
}



.smaller-orbit {
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    -webkit-animation: spin3D 8s linear 0s infinite;
}
.w1 {
    transform: rotate3d(1,1,1, 90deg);
}
.medium-orbit {
    width: 200px;
    height: 200px;
    border: 2px solid #d771ffa5;
    -webkit-animation: spin3D linear .2s infinite;
}
.w2 {
    transform: rotate3d(1,2,0.5,90deg);
}
.large-orbit {
    width: 120px;
    height: 120px;
    border: 2px solid #27e6ffa5;
    -webkit-animation: spin3D 2s linear 0s infinite;
}
.w3 {
    transform: rotate3d(0.5,1,2.5,90deg);
}